html {
  font-size: 10px;
    background: linear-gradient(
                rgba(20,20,20, .1), 
                rgba(90,90,90, .2)),
                url(https://source.unsplash.com/NUFnfYd09iI);
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
}

.keys {
  display:flex;
  flex:1;
  min-height:100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border:4px solid black;
  border-radius:5px;
  margin:1rem;
  font-size: 1.5rem;
  padding:1rem .5rem;
  transition:all 0.1s;
  width:100px;
  text-align: center;
  color:white;
  background:rgba(0,0,0,0.4);
  text-shadow:0 0 5px black;
}

.playing {
  transform:scale(1.1);
  border-color: #F9BF3B;
  box-shadow: 0 0 10px #F9BF3B;
}

kbd {
  display: block;
  font-family: monospace;
  font-size: 40px;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color:#F9BF3B;
}

.cta {
    color: ghostwhite;
    text-align: center;
    margin-top: -20%;
}

h1 {
    font-weight: 500;
}

a {
    color: #F9BF3B;
}